@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600&family=Montserrat:wght@100;200;300;400;500;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Configuração Padrão */
* {
    padding: 0;
    margin: 0;
}

.font {
    /* fonte para id do perfil */
    font-family: Montserrat, sans serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    color: black;
}

.forma {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

}


.row {
    display:flex;
    flex-direction: row; 
}

.column { 
    display: flex;
    flex-direction: column;
}
.clicar {
    cursor: pointer; 
}

.borda {
    border: red 2px solid;
}

/* Configuração final  */

/* header  */

.img_story:hover {
    box-shadow:  0 0 0 2px rgba(0, 0, 0, 0.08) ;
}

.container  {
    justify-content: space-between;
    background-color: white;
    align-items: center;
    width: auto;
    height: 65px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.nav {
    margin-right: 130px;
}

.logo {
    max-width :110px;
     max-height: 61px;
    margin-left: 130px;
}

form {
    justify-content: center;
 
}

input {
        width: 200px;
        height: 20px;
        border-radius: 10px;
        background-color: #D9D9D9;
        padding-left: 25px;
        border: #D9D9D9 solid 1px;
         text-transform: capitalize;
         font-size: 12px;
         color:#8E8E8E;
         text-align: start;
     }


ul {
   justify-content: flex-end;
   padding-right: 0;
}

li{
    margin: 10px;
    list-style: none;
}
.nav_icon {
    width: 20px;
    height:20px;
}

.clicar_home {
        width: 3;
        height: 4;
}

/* Parte do conteúdo */


article{
   /* flex-wrap: wrap; */
   justify-content: space-between;
   margin-left: 100px;
   margin-right:  100px;
    width: auto;
    height: auto
}

/*------ story e poat ------ */

.story_post{
    width: 811px;
    height: auto;
    margin-top: 40px;
}

.story {
    /* justify-content: space-around; */
    align-items: center;
    margin:0;
    border-radius: 10px;
    width: 700px;
    height: 134px;
    padding:0;
}

.org {
    margin-left: 13px;
}
.p_story {
    align-items: center;
    margin: 0;
    width: 70px;
    text-align: center;
}

.img_story{
    align-items: center;
    border-radius: 50%;
    width: 55px;
    height:55px;
    margin: 5px 6px 0px 6px;
   background-color: white;
    padding: 1px;
    border: solid    2px #D9D9D9;
}

.fav {
    border: solid 3px rgb(0, 205, 3);
}


/*------perfil e publicar-----------*/
.post {
    border-radius: 10px;
    margin-top: 30px;
    width: 700px;
    height:auto;
    padding: 0;
}

.linha_1 {
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.info_post {
    align-items: center;
}

.info_more {
    align-items: center;
    margin: 30px;
}

.p_post {
    font-family: Montserrat, sans serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    color: black;
    line-height: 15px;
}

.p_men {
    font-family: Montserrat, sans serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    color: black;
    line-height: 15px;
}
.more {
    width: 20px;
    height: 4px;
}

.linha_2 {
       width: 100%;
}

.linha_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.primario {
    display: flex;
    flex-direction: row;
}

.secundario {
    display: flex;
    flex-direction: row;
}

.icons_post {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.icon_salvar {
    width: 15px;
    height: 17px;
}


.linha_4 {
    padding-left: 10px;
}

.men{
    justify-content: flex-start;
    margin: 2px;
}

.linha_5 {
   align-items: center;
   padding: 10px;

}

.comentario{
    width:650px;
    height: 25px;
    margin: 2px;
    background-color: white;
    text-transform: none;
}

.img_post {
    width: 100%;
}

.tempo {
    font-family: Montserrat, sans serif;
    font-size: 9px;
    font-weight: 500;
    color: black;
    font-style: normal;
}

.final {
   text-align: center;
    background-color: #D9D9D9;
    width:200px;
    height: 15px ;
    margin: 50px;
    align-self: center;
    color:black;
    padding-top: 12px;
    padding-bottom: 11px ;
    border-radius: 30px;;
}

/* -------Perfil Publicar  -------*/

.perfil {
    width: 423px;
    height: 210px;
    margin: 0;
}

.publicar {
    display: flex;
    flex-direction: column;
    width: 423px;
    height: 210px;
    margin-top: 30px;
}

.perfil_publicar{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 40px;
    margin-left: 10px;
}

.perfil {
    justify-content: space-around;
    height: 200px;
    align-items: center;
}

.publicar {
    flex-direction: column;
    height: 550px;  
    align-items: center;
   text-align: center;
}
.img_perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
   margin: 10px;
 
}
.item_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.id_name {
    color: #8E8E8E;
}

 .mudar {
    width: 100px;
    height: 23px;
    color: white;
    background-color: #50B6F7;
    font-weight: 400;
    font-family: Montserrat, sans serif;
    font-size:12px;
    font-style: normal;
    border-radius: 5px;
    border: none;
}
.mudar:hover {
    box-shadow:  0 0 0 2px rgba(0, 0, 0, 0.10) ;
}

.header_publi{
    width: 100%;
    height: 71px;
    align-items: center;
    border-radius: 10px 10px 0 0;    
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);

}

.icon_publi {
    width: 22px;
    height:22px;
    margin: 10px;
}
.crie  {
    height: 20px;
    margin: 0;
    background-color: white;
    align-self: center;
    flex-grow: 2;
    margin: 10px;
    font-family: Montserrat, sans serif;
    font-size:14px;
    font-weight: 500;
    font-style: normal;
}

.item_publicar {
    width: 100%;
    text-align: center
}


.item_informativo {
    height: 70%;
    width: 100%;
    align-items: center;
    margin: auto;
}

.photo_video {
    width: 124px;
    height: 95px;
    margin: 121px 213px  10px 213px;
}

.informativo  {
    font-family: Montserrat, sans serif;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    color: black;
   margin: 15px;
}

.selecionar {
    width: 209px;
    font-size: 14px;
}

.hashtag {
    flex-wrap: wrap;
    color: #8E8E8E;
    margin: 20px 0 0 0;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}

h1 {
    font-family: Montserrat, sans serif;
    font-size: 14px;
    font-weight: 600px;
    color: #898989;
    margin-bottom: 10px;
}

.item_hashtag {
    margin: 5px;
    cursor: pointer;
}